* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.bg-header{
    background-color:#3b5998;
}

h1{
    color: white;
}

.header-p{
    color: white;
}

.header-button{
    background-color: #4267b2;
    border: 3px solid  #29487d;
}


.main-content{
    background:linear-gradient(#fdfdfe,#d6dae9);
}

.left-side div{
    padding: 5px;
    margin: 5px;
}


input{
    height: 35px;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
}

label{
    color: black;
    font-weight: 500;
}

#sign-up-button{
    background-color: #5d9649;
    width: 50%;
}

footer{
    margin-top: 15px;
}


li{
    text-decoration: none;
    list-style: none;
    padding: 4px;
}